.custom-nav{
    position: fixed;
    height: 13vh;
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: white;
    z-index: 1;
}

.nav-link > p{
    margin: 0;
}

.nav-link{
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 8pt;
    padding: 10px 0 0;
}

.nav-icon{
    font-size: 14pt;
}

.input-group{
    height: 40px;
}

.nav-btn{
    position: relative;
}

.burger-btn{
    height: 39px;
    width: 45px;
    padding: 6px;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: relative;
}

.btn-row.top, .btn-row.center, .btn-row.down{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: grey;
}

.btn-row.top{
    top: 5px;
}

.btn-row.center{
    top: 16px;
}

.btn-row.down{
    bottom: 7px;
}

.btn-row.top.start{
    animation: topClick .4s linear;
    animation-fill-mode: forwards;
}

.btn-row.center.start{
    animation: centerClick .4s linear;
    animation-fill-mode: forwards;
}

.btn-row.down.start{
    animation: downClick .4s linear;
    animation-fill-mode: forwards;
}

.btn-row.top.start.stop, .btn-row.center.start.stop, .btn-row.down.start.stop{
    animation-direction: reverse;
}

@keyframes topClick {
    0%{translate: 0px 0px; }
    50%{translate: 0px 11px; rotate: 0deg;}
    100%{translate: 0px 11px; rotate: 135deg;}
    
}

@keyframes centerClick {
    0%{rotate: 0deg;}
    50%{rotate: 0deg;}
    100%{rotate: 45deg;}
    
}

@keyframes downClick {
    0%{translate: 0px 0px; }
    50%{translate: 0px -11px; rotate: 0deg;}
    100%{translate: 0px -11px; rotate: 135deg;}
    
}