.insertion{
    font-size: 8pt;
}

.insertion-title{
    font-size: 10pt;
}

.sidebar-col{
    position: fixed;
    margin-top: 13vh;
    height: 87vh;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gray; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(121, 179, 255);
    border-radius: 10px;
  }