.nav-link > p{
    margin: 0;
}

.nav-link{
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 8pt;
    padding: 10px 0 0;
}

.nav-link.right{
    width: 90px;

}

.nav-icon{
    font-size: 14pt;
}

.resp-border{
    width: 100%;
    border-left: 1px solid rgb(207, 207, 207);
}
.bg-body-tertiary{
    height: 13vh;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.collapse-nav{
    background-color: white;
}
.collapse-menu{
    width: 100vw;
}

@media screen and (max-width: 991px) {

    .resp-border{
        border-left: none;
    }
}